body {
	font-family: helvetica;
	padding: 20px;
	line-height: 1.2;
}

article {
	margin-top: 50px;
	max-width: 650px;
	margin-left: 30px;
}

ul {
	list-style: none;
	margin-bottom: 50px;
}

li {
	margin-top: 10px;
}

h3 {
	margin-top: 30px;
}

header > img {
	margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
}

.translate {
	top: 20px;
	left: 450px;
	position: absolute;
}

a {
	color: black;
}

a:hover {
	color: orange;
}


 @media screen and (max-width: 800px) {

 	.translate {
		position: static;
	}

}


 @media screen and (max-width: 600px) {

 	article {
 		width: 100%;
 	}

	.translate {
		position: static;
	}
}