body {
	font-family: helvetica;
	padding: 20px;
	line-height: 1.2;
	padding-right: 100px;
}

article {
	margin-top: 50px;
	max-width: 650px;
	margin-left: 30px;
}

ul {
	list-style: none;
	margin-bottom: 50px;
}

li {
	margin-top: 10px;
}

h3 {
	margin-top: 30px;
}

header > img {
	margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
}

.translate {
	left: 575px;
	position: absolute;
}

a {
	color: black;
}

a:hover {
	color: orange;
}